<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batch code</title>
</head>
<body>
    <h1>Generate Batch Code</h1>
    <form action="/batchcode" method="post">
        <b>center</b>
        <select name="center" id="">
            {{#each centers as |c|}}
                <option value="{{c.id}}">{{c.city}}</option>
            {{/each}}
        </select>
        <br><br>
        <b>Season</b>
        <select name="season" id="">
            {{#each seasons as |s|}}
                <option value="{{s.id}}">{{s.name}}</option>
            {{/each}}
        </select>
        <br><br>
        <b>Courses</b>
        <select name="course" id="">
            {{#each courses as |co|}}
                <option value="{{co.id}}">{{co.name}}</option>
            {{/each}}
        </select>
        <br><br>
        <b>year</b>
        <select name="year" id="">
            {{#each years as |y|}}
                <option value="{{y}}">{{y}}</option>
            {{/each}}
        </select>
        <br><br>
        <b>Batch Code</b>
        <input name="batchno" type="number" min="1" max="5">
        <br> <br>
        <b>Start</b>
        <input type="date" name="start" id=""> &nbsp;
        <b>End</b>
        <input type="date" name="end" id="">
        <br> <br>
        <input type="submit">
    </form>

    
</body>
</html>